.App {
  text-align: center;
}

.App-logo {
  /* height: 2.3em;*/
  height: 27px;
  width: 200px;
  pointer-events: none;
}

/* .App-header {
  height: 8vh;
  padding: 0 5vmax;
  align-items: center;
  font-size: calc(10px + 2vmin);
  background-color: #000;
  color: white;
  z-index: 1;
  font-size: large;
} */

.App-main {
  min-height: 100vh;
  left: 0;
  bottom: 0;
  right: 0;
}

.App-iframe-os
{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: white;
}
.App-link {
  color: #61dafb;
}

.App-hero {
  height: 30vmin;
  min-height: 150px;
  /* background-color: #1e7157; */
  position: relative;

  font-weight: 700;
  font-family: 'Titillium Web', 'Roboto', 'Avenir', 'Helvetica Neue', sans-serif;
  color: white;
  text-shadow: 2px 2px #000;
  font-size: 4rem;
  line-height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-hero * {
  position: relative;
  margin: 0;
}

.App-hero small {
  color: #bbb;
  line-height: 3rem;
  font-size: 1.3rem;
  text-shadow: none;
}

.App-hero-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  background-image: url("../images/hero.gif");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.App-bg-grape-image {
  height:680px;
  width:1920px;
  top:0;
  left:0;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url('../images/grape-bg.jpg' );
  background-position: center center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;

}
.App-bg-grape-background {
  background-image: url('../images/grape-bg.jpg' );
  background-position: center center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}
.App-cubo-hero-1-image {
  height:500px;
  width:500px;
  background-image: url('../images/grape-cubo-hero-1.png' );
  background-position: center center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
}

.App-textos{
  width: 600px;
  float: "left";
  margin-left: 20%;
  margin-top: 5%;
  float: left;
  text-align: left;
  font-family: sans-serif;
}

.App-texto-1{
  font-size: 50px;
  color: white;
  padding-top: 20%;
}

.App-texto-2{
  font-size: 20px;
  color: antiquewhite;
  margin-top: 5%;
}
.App-logo-titulo{
  float: left;
}

.App-menu{
  float: left;
  font-size: large;
  color: aqua;
}

.App-buy-button{
color: aqua;
background-color: black;
border-color: aqua;
border-radius: 5px;
margin-top: 5px;
}
.App-buy-button-footer{
  color: aqua;
  background-color: black;
  border-color: aqua;
  border-radius: 5px;
  margin-top: 20px;
  }
.App-header-div{
width: 100%;
z-index: 1;
background-color: black;
position: absolute;
font-size: large;
}

.App-titulo-intermedio{
color: white;
background-color: black;
margin-bottom: 0%;
padding-top: 2%;
padding-bottom: 2%;
font-family: sans-serif;
}

.App-content-format{
background-image: url('../images/FG-background.jpg');
width: 100%;
}

.App-cubo-hero-2-image {
  height:450px;
  width:450px;
  background-size: contain;
  background-image: url('../images/grape-cubo-hero-1.png' );
  background-position: center center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  float: right;
}
.App-coming-soon{
width: 100%;
height: 100%;
background-color: none;
padding-bottom: 5%;
background-color: black;
}
.App-carousel{
height: 430px;
width: 100%;
background-image: linear-gradient(to right, rgb(83, 1, 121) , rgb(52, 1, 68));
color: white;
}

.App-carousel-frame{
width: 100%;
color: white;
}
.App-texto-question{
  color: aqua;
}
.App-creators-image{
  height:450px;
  width:450px;
  background-size: contain;
  background-image: url('../images/cubos-creators.png' );
  background-position: center center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  float: right;
}
.App-bg-creators-background{
background-image: url('../images/FG-background.jpg');
padding-bottom: 50px;
  
}
.App-texto-3{
  font-size: 50px;
  color: aqua;
  padding-top: 20%;
}
.App-footer {
  min-height: 10vh;
  background-color: black;
  align-items: center;
  padding-top: 50px;
}
.App-logo-footer{
  width: 175px;
  height: 85px;
  align-items: center;
  position: static;
  margin-bottom: 20px;
}

.App-follow{
  color: white;
}

.App-wrapper{
background-color: black;
}
.App-copyright{
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* .left {
  margin: 50px;
  align-items: center;
  float:left;
  height: 200px;
}
.middle {
  display:table-cell;
  height: 200px;
  width: 850px;
  padding-top: 50px;
  padding-left: 30%;
}
.right {
  float:right;
  height: 200px;
  padding-top: 80px;
  align-items: center;
  padding-right: 20%;
} */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media(max-width: 600px) {
  .App-hero {
    line-height: 2.5rem;
    font-size: 2.5rem;
  }
  .App-hero small {
    font-size: 1rem;
  }
}